{% extends 'base.html' %}
{% block link %}
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.3/examples/sign-in/signin.css" rel="stylesheet">
{% endblock %}
{% block content %}
    {% if form %}
    <form method="post" action="{% url 'signup' %}" class="form-signin" id="submitUserSignup">
        {% csrf_token %}
        <h1>Registration</h1>
        <label for="inputEmail">Email address</label>
        <input type="email" name="email" id="email" class="form-control" required>
        <label for="first_name">First name</label>
        <input type="text" name="first_name" id="first_name" class="form-control">
        <label for="last_name">Last name</label>
        <input type="text" name="last_name" id="last_name" class="form-control">
        <label for="age">Age</label>
        <input type="number" name="age" id="age" class="form-control" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" required>
        <label for="confirm_password">Confirm password</label>
        <input type="password" name="confirm_password" id="confirm_password" class="form-control" required>

        <div class="form-group">
            <button id="submitSignUp" type="submit" value="SignUp"
                    class="btn btn-success">Registration</button>
        </div>
    {% endif %}
    </form>
    <script>
    registration = submit_form.bind(null, submitRegistration, "submitSignUp", null);
    document.getElementById("submitUserSignup").addEventListener("submit", registration);
    </script>
{% endblock %}